@media (max-width:1070px) {
    .text h1 {
        font-size: 3rem;
    }

    .text h2 {
        font-size: 2rem;
    }

    .text p {
        font-size: 0.8rem;
    }


    .about-main-container {
        padding-top: 3rem;
        margin-bottom: 0;
    }

    .about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .about-container .my-img {
        width: 320px;
    }

    .about-container .about-me {
        width: 100%;
    }

}

@media (max-width:826px) {
    .text h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    #name h1 span {
        font-size: 1.5rem;
    }

    .text h2 {
        font-size: 1.5rem;
    }

    .text p {
        font-size: 0.7rem;
    }

    .resume {
        gap: 0;
        padding: 0.5rem 0.5rem;
        margin: 1rem 0;
    }

    .resume a {
        gap: 0.5rem;
        font-size: 0.5rem
    }
}

@media (max-width:600px) {

    .profile-img img {
        margin-top: 2rem;
    }

    .profile-container {
        flex-direction: column-reverse;
    }

    .nav-tags .nav-tag-div {
        display: none;
    }

    .nav-tags>i {
        color: red;
        display: inline-block;
    }

    .about-container .my-img {
        width: 70%;
    }

    /* .tab-titles {
        gap: 0.5rem;
    } */

    .tab-titles {
        font-size: 0.7rem;
    }

    .social-media a {
        width: 2rem;
        height: 2rem;
        background: linear-gradient(-45deg, #ffffff, #ff0000);
        color: white;
        animation: updown 3s linear infinite;
    }

    .social-media a .fa-brands {
        font-size: 1rem;
        line-height: 2rem;
        position: relative;
        z-index: 10;
    }

    .social-media a::after,
    .about-container .my-img::before {
        display: none;
    }

    .about-container .my-img:hover img {
        transform: scale(1);
    }

    .Intro-abt {
        font-size: 2.5rem;
    }

    .project-heading h1 {
        font-size: 2.5rem;
    }

    .project-heading .img img {
        width: 5rem;
    }

    .project-heading {
        height: 7rem;
    }
}

@media (max-width:375px) {
    .nav-tags>i {
        color: red;
        display: inline-block;
    }
}